.constrain {
  margin-left: auto;
  margin-right: auto;
	max-width: $width-constrain;

  &.pad,
  &.pad-x {
    max-width: calc($width-constrain + (2 * $space));
  }

  &.pad-left:not(.pad-right),
  &.pad-right:not(.pad-left) {
    max-width: calc($width-constrain + $space);
  }
}