		<!--
			-- Accessible Mobile Navigation
			-- 
			-- http://www.a11ymatters.com/pattern/mobile-nav/
			-->
		<nav role="navigation" class="container navigation">
			<ul>
				{% for item in nav.items %}
					<li><a href="{{ item.slug }}"{% if true === item.external %} target="_blank"{% endif %}>{{ item.title }}</a>
				{% endfor %}
			</ul>
		</nav><!-- .container .navigation -->