{% if collections.navigation.size > 0 %}
		<!--
			-- Accessible Mobile Navigation
			-- 
			-- http://www.a11ymatters.com/pattern/mobile-nav/
			-->
		<nav role="navigation" class="container navigation">
			<ul>
			{% for item in navigation.items %}
				<li><a href="{{ item.slug }}">{{ item.title }}</a></li>
			{% endfor %}
			</ul>
		</nav><!-- .container .navigation -->
{% endif %}