$black: hsl( 0, 0%, 0% );
$darkest-gray: hsl( 0, 0%, 10% );
$darker-gray: hsl( 0, 0%, 20% );
$dark-gray: hsl( 0, 0%, 30% );
$dark-medium-gray: hsl( 0, 0%, 40% );
$medium-gray: hsl( 0, 0%, 50% );
$gray: medium-gray;
$light-medium-gray: hsl( 0, 0%, 60% );
$light-gray: hsl( 0, 0%, 70% );
$lighter-gray: hsl( 0, 0%, 80% );
$lightest-gray: hsl( 0, 0%, 90% );
$white: hsl( 0, 0%, 100% );

$medium-blue: hsl( 240, 100%, 50% );
$blue: $medium-blue;
$light-medium-blue: hsl( 220, 100%, 50% );
$light-blue: hsl( 220, 100%, 70% );
$lighter-blue: hsl( 220, 100%, 80% );
$lightest-blue: hsl( 220, 100%, 90% );