  {%- if navigation %}
  <nav role="navigation" class="navigation">
    <ul>
      {%- for item in navigation %}
      {%- if item.slug == page.slug %}
      {% assign isActive = "class='is-active'" %}
      {%- endif %}
      <li {{ isActive }}><a href="/{{ item.slug }}">{{ item.title }}</a></li>
      {%- endfor %}
    </ul>
  </nav><!-- .navigation -->
  {%- endif %}