  {%- if navigation %}
  <nav role="navigation" class="navigation">
    <ul>
      {%- for item in navigation %}
      {%- if item.slug == page.slug %}
      {% assign isActive = "class='is-active'" %}
      {%- endif %}
      {%- if item.external == true %}
      {% assign linkTarget = "target='_blank'" %}
      {%- endif %}
      <li {{ isActive }}><a href="/{{ item.slug }}" {{ linkTarget }}>{{ item.title }}</a></li>
      {%- endfor %}
    </ul>
  </nav><!-- .navigation -->
  {%- endif %}