# Environment variables
.env
/*.env

# Dependencies
node_modules/
npm-debug.log
package-lock.json

# Log files
/_logs/

# Built files
/public/
/build/
/dist/

# Temporary files
/_scratch/
/scratch/
/_temp/
/temp/

# OS files
.DS_Store

# Local server config folders
.netlify
.now