.app-title {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.1;
  margin: 0;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	.app-title {
		font-size: 2rem;
	}

}

.app-title a {
	text-decoration: none;
}