abbr {
	font-feature-settings: "kern", "liga", "clig", "calt", "c2sc", "smcp";
	font-variant: none;
	letter-spacing: 0.01em;
	text-decoration: underline;
	text-decoration: underline dotted;

	@supports (font-variant-caps: all-small-caps) {
		font-variant-caps: none;
		font-feature-settings: normal;
	}

	&[title] {
		border-bottom: none;
		text-decoration: underline;
		text-decoration: underline dotted;
	}
}