.card {
  box-shadow: $shadow-card;
  border-radius: $border-thin;
  display: flex;
  flex-direction: column;

  &s {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( 32ch, 1fr ) );
    grid-gap: 1rem;
  }

  & + & {
    margin-top: 1rem;

    @supports (display: grid) {
      margin-top: 0;
    }
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: $shadow-card-focus;
  }

  /* Isolate selector */
  &:focus-within {
    box-shadow: $shadow-card-focus;
  }

  /* Isolate selector */
  &:focus-within a:focus {
    outline: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }
  }

  &__image {
    height: 10rem;

    &:first-child,
    &:first-child img {
      border-top-left-radius: $border-thin;
      border-top-right-radius: $border-thin;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}