.masthead {
  border-top: 0.25rem solid $lighter-blue;
  border-image: linear-gradient(to right, $blue, $lighter-blue) 1;

  &__layout {

    @include mq-900 {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 0;

    @include mq-900 {
      flex: 1 0 auto;
    }

    a:link,
    a:visited {
      color: $blue;
      text-decoration-color: $lighter-blue;
    }
  }
}