<footer id="colophon" role="contentinfo" class="parent pad">
  <div class="constrain">
    <p>{{ site.copyright }} <a href="{{ skip-link.masthead.href }}">{{ skip-link.masthead.text }}</a></p>
  </div>
</footer>