<footer id="colophon" class="parent pad">
  <div class="constrain">
    <p><small>{{ site.copyright }} <a href="{{ skip-link.masthead.href }}">{{ skip-link.masthead.text }}</a></small></p>
  </div>
</footer>