		<!--
			-- Accessible Mobile Navigation
			-- 
			-- http://www.a11ymatters.com/pattern/mobile-nav/
			-->
		<nav role="navigation" class="container navigation">
			<ul>
			{% for page in collections.navigation %}
				<li><a href="/{{ page.data.slug | default: page.fileSlug }}">{{ page.data.nav_title | default: page.data.title }}</a></li>
			{% endfor %}
			</ul>
		</nav><!-- .container .navigation -->