.button {
	background: hsl( 240, 100%, 50% );
	border-radius: 0.25em;
	color: hsl( 0, 0%, 100% );
	display: inline-block;
  line-height: 1.4;
	padding: 0.25rem;
	text-decoration: none;
	text-transform: capitalize;
	transition: box-shadow 200ms ease;
}

.button:link,
.button:visited {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 240, 25%, 90% );
	color: hsl( 0, 0%, 100% );
}

.button:hover,
.button:focus {
	background: hsl( 240, 100%, 54% );
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 240, 25%, 80% );
	color: hsl( 0, 0%, 100% );
}

.button:active {
	background: hsl( 240, 100%, 58% );
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 240, 25%, 100% );
	color: hsl( 0, 0%, 100% );
}