.post {
	max-width: 36.4rem;
}

.post-header {
	color: hsl( 0, 0%, 10% );
}

.single .post-header {
	margin: 0 0 4rem;
}

.single .post-header__image {
	margin: 4rem 0 0;
}

.post-title {
	font-size: 2rem;
	margin: 1em 0 0.5em;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	.post-title {
		font-size: 3rem;
	}

}

.post-meta {
	color: hsl( 0, 0%, 30% );
	font-size: 85%;
	text-transform: capitalize;
}

.post-meta ul,
.post-meta ol {
	display: inline;
}

.post-meta li {
	display: inline-block;
}

.post-meta li + li::before {
	content: '/ ';
}

.post-content {
	color: hsl( 0, 0%, 30% );
}

.post-content ul {
	list-style: disc;
	padding: 0 0 0 2em;
}

.post-content ul ul {
	list-style: square;
}

.post-content ul ul ul {
	list-style: circle;
}

.post-content ol {
	list-style: decimal;
	padding: 0 0 0 2em;
}

.post-content ol ol {
	list-style: lower-alpha;
}

.post-content ol ol ol {
	list-style: lower-roman;
}

.post-content li {
	display: list-item;
}

.post-footer {
	color: hsl( 0, 0%, 10% );
	font-size: 85%;
	margin: 4rem 0 0;
}