.navigation {

	&[aria-expanded="false"] {
	  padding: 0;
	}

	a {
		display: block;
	}

	li {
		display: block;

		@mixin mq-600 {
			display: inline-block;
		}

	}

	button {
		display: inline-block;
		padding: 0.75rem 1rem;
		position: absolute;
		right: 0;
		top: 0;

		&:hover .hamburger,
		&:focus .hamburger {
			background: $light-medium-blue;

			@media (prefers-color-scheme: dark) {
		    background: $lighter-blue;
			}
		}

		&:active .hamburger {
			background: $light-blue;

			@media (prefers-color-scheme: dark) {
		    background: $lightest-blue;
			}
		}
	}

	.js &:first-of-type {

		ul {
			opacity: 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 500ms;

			@mixin mq-600 {
				max-height: none;
				opacity: 1;
				overflow: auto;
			}
		}

		.is-active {
			max-height: 100vh;
			opacity: 1;
		}
	}
}

.hamburger {
	background: $medium-blue;
	border-radius: 0.25em;
	display: block;
	height: 0.25rem;
	margin: 0.25rem 0;
	transition: all 200ms;
	width: 1.5rem;

	@media (prefers-color-scheme: dark) {
    background: $light-blue;
	}

	&__1,
	&__3 {
		content: '';
	}

	[aria-expanded="true"] & {

		&__1 {
			transform: rotate(-45deg) translate( -0.25rem, 0.4375rem );
			width: 1.85rem;
		}

		&__2 {
			opacity: 0;
			transform: rotate(180deg);
			width: 0;
		}

		&__3 {
			transform: rotate(45deg) translate( -0.25rem, -0.4375rem );
			width: 1.85rem;
		}
	}
}