.site-title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.1;
  margin: 0;

  @media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */
		font-size: 2rem;
  }

  a {
  	text-decoration: none;
  }
}