<!DOCTYPE html>
<html class="no-js">
<head>
  {% include meta/utf %}
  {% include meta/viewport %}
  {% include meta/ie %}
  {% include meta/page %}
  {% include meta/robots %}
  {% include globals/styles %}
</head>
<body class="site {% if contentType %}{{ contentType }} {{ contentType }}-{{ page.fileSlug }}{% endif %}">
  {% include components/masthead %}
  <main id="content" class="site-main container">
    {{ content }}
  </main><!-- .site-main -->
  {% include components/colophon %}
  {% include globals/scripts %}
</body>
</html>