---
layout: global
---


<form class="form" action="" method="post">
  <fieldset class="form__fieldset">
    <legend class="form__legend">Form Legend</legend>

    <div class="form__row">
      <label for="firstName" class="form__label">First Name</label>
      <input type="text" name="firstName" id="firstName" class="form__input" value="" autocorrect="off" required />
    </div>
    <div class="form__row">
      <label for="lastName" class="form__label">Last Name</label>
      <input type="text" name="lastName" id="lastName" class="form__input" value="" autocorrect="off" required />
    </div>
    <div class="form__row">
      <label for="email" class="form__label">Email</label>
      <input type="email" name="email" id="email" autocapitalize="none" autocorrect="off" class="form__input" required />
    </div>

    <!-- Brand -->

    <div class="form__row">
      <label class="form__label" for="state">State</label>
      <div class="form__select">
        <select name="state" id="state" class="c-select-field__menu">
          <option>Choose one</option>
          <option value="Red">Red</option>
          <option value="Orange">Orange</option>
          <option value="Yellow">Yellow</option>
          <option value="Green">Green</option>
          <option value="Blue">Blue</option>
          <option value="Purple">Purple</option>
        </select>
        <span class="c-select-field__decor" aria-hidden="true" role="presentation">&dtrif;</span>
      </div>
    </div>

    <!-- Company Name -->
    <!-- Event -->

    <div class="form__row form__checkbox">
      <input type="checkbox" name="agreeToTerms" id="agreeToTerms" class="form__input_checkbox" required />
      <label for="agreeToTerms" class="form__label_decor" aria-hidden="true" role="presentation"></label>
      <label for="agreeToTerms" class="form__label_checkbox">Agree to terms</label>
    </div>
    <div class="form__row">
      <button class="c-button" type="submit">Submit</button>    
    </div>
  </fieldset>
</form>

<!-- name: {
  first: { type: String, trim: true, required: true },
  last: { type: String, trim: true, required: true }
},
email: { type: String, trim: true, required: true, unique: true, uniqueCaseInsensitive: true },
brand: { type: String, trim: true },
state: { type: String, trim: true },
company: { type: String, trim: true },
date: { type: Date, default: Date.now },
event: { type: String, trim: true } -->