a {
  background-color: transparent;
	transition: color $speed-fast ease;

  &:link,
  &:visited {
  	color: $medium-blue;
  }

  &:hover,
  &:focus {
  	color: $light-medium-blue;
  }

  &:active {
  	color: $light-blue;
  }
}