a {
  background-color: transparent;
	transition: color $speed-fast ease;

  /**
    * TODO (paulshryock): Move colors to ../settings/colors.css
    */
  &:link,
  &:visited {
  	color: hsl( 240, 100%, 50% );
  }

  &:hover,
  &:focus {
  	color: hsl( 220, 100%, 50% );
  }

  &:active {
  	color: hsl( 220, 100%, 70% );
  }
}