td {
  line-height: 1.3;
  padding: 0.5em;

  /* TODO: (paulshryock) Move media queryies to ../settings/media-queries.css */
  @media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */
    padding: 1em;
  }
}