/*

<div>
	<label for="firstName"><abbr title="First Name">F</abbr>irst Name</label>
	<input type="text" id="firstName" name="firstName" value="" placeholder="John Smith" accesskey="f" autofocus="false" autocomplete="firstName">
</div>

*/

label {
	display: block;
	font-size: 0.75em;
	text-transform: capitalize;
}

label + * {
	margin-top: 0.25rem;
}

[type="radio"] + label {
	padding-left: 0.25em;
}