  {%- if navigation.items %}
    <nav class="navigation" data-toggle="true">
      <ul class="navigation__list">
        {%- for item in navigation.items %}
          {%- if item.slug == page.fileSlug %}
            {% assign isActive = 'aria-current="page"' %}
          {%- endif %}
          <li><a href="/{{ item.slug }}" {{ isActive }}>{{ item.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  {%- endif %}