  {%- if navigation.items %}
    <nav class="navigation" data-toggle="true">
      <ul class="navigation__list">
        {%- for item in navigation.items %}
          <li><a href="{{ item.href }}"{%- if item.href == page.url %} aria-current="page"{%- endif %}>{{ item.text }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  {%- endif %}