pre {
	font-family: monospace;
	font-size: 1rem;
  tab-size: 2;

	/* Browser specific (not valid) styles to make preformatted text wrap */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-break: break-word;      /* Internet Explorer 5.5+ */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	overflow-wrap: break-spaces; /* Internet Explorer 5.5+ */
	overflow-wrap: break-word;   /* Internet Explorer 5.5+ */
}

pre code {
	display: block;
	line-height: 1.2;
  margin: 0;
	padding: 1rem;
}

code {
	background: hsl( 0, 0%, 100% );
	border-radius: 0.25em;
	font-family: monospace;
	font-size: 0.85rem;
	margin: 0 0.125rem;
	padding: 0 0.25rem;
}

kbd {
	background: hsl( 0, 0%, 100% );
	border-radius: 0.25em;
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 80% );
	display: inline-block;
	font-family: monospace;
	font-size: 0.85rem;
	margin: 0 0.125rem;
	padding: 0 0.25rem;
	transition: box-shadow 200ms ease;
}

kbd:hover,
kbd:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

samp {
	font-family: monospace;
	font-size: 0.85rem;
	font-weight: bolder;
}

tt {
	font-family: monospace;
	font-size: 0.85rem;
}

var {
	font-family: monospace;
	font-size: 0.85rem;
}