

h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	margin: 1em 0 0.5em;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.1;
	margin: 2em 0 0.5em;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 2em 0 0.6em;
}

h4 {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 2em 0 0.6em;
}

h5 {
	font-size: 1rem;
	font-weight: bold;
  line-height: 1.4;
	margin: 0 0 0.7em;
}

h6 {
	font-size: 1rem;
	font-weight: normal;
  line-height: 1.4;
	margin: 0 0 0.7em;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	h1 {
		font-size: 3rem;
		font-weight: bold;
	}

	h2 {
		font-size: 2rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h4 {
		font-size: 1.25rem;
		font-weight: bold;
	}

}