a {
  background-color: transparent;
	transition: color 200ms ease;
}

a:link,
a:visited {
	color: hsl( 240, 100%, 50% );
}

a:hover,
a:focus {
	color: hsl( 280, 100%, 37% );
}

a:active {
	color: hsl( 0, 100%, 50% );
}