body {
	display: grid;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background: -webkit-linear-gradient(top, white, black);
	background: linear-gradient(to bottom, white, black);
}
