/*

<div>
	<label for="firstName"><abbr title="First Name">F</abbr>irst Name</label>
	<input type="text" id="firstName" name="firstName" value="" placeholder="John Smith" accesskey="f" autofocus="false" autocomplete="firstName">
</div>

*/

input {
	border: none;
	cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
	overflow: visible;
}

input:placeholder {
	color: hsl( 0, 0%, 50% );
}

input:disabled,
input:readonly {
	color: hsl( 0, 0%, 50% );
	cursor: not-allowed;
}

[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="week"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"] {
	border: 1px solid hsl( 0, 0%, 65% );
	border-radius: 0.25em;
	background: hsl( 0, 0%, 97% );
	display: block;
	padding: 0.25rem;
}

[type="checkbox"] {
  padding: 0;
}

/* Isolate this selector */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="radio"] {
  padding: 0;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}