.breadcrumb,
.card footer {
	font-family: "IBM Plex Mono", /* Ideal */
		Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, /* Fit */ /* Common */
		monospace; /* Generic */
}

.card footer,
.post-meta,
.post-footer {
	font-size: 85%;
}

.lead {
	font-size: 125%;
}

.breadcrumb {
	font-size: 0.85rem;
}

.archive h2 {
	font-size: 1.25rem;
}

.site-title {
	font-size: 1.5rem;
}

.post-title {
	font-size: 2rem;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	.archive h2 {
		font-size: 1.5rem;
	}

	.site-title {
		font-size: 2rem;
	}

	.post-title {
		font-size: 3rem;
	}

}

.site-title {
	line-height: 1.1;
}

.lead {
	line-height: 1.3;
}

.button {
  line-height: 1.4;
}

.site-title,
.breadcrumb [aria-current="page"] {
	font-weight: bold;
}

.button,
.site-title a,
.card a {
	text-decoration: none;
}

/* This selector fails in some browsers; keep it isolated */
.card:focus-within a:focus {
	text-decoration: none;
}

.card a:focus {
	text-decoration: underline;
}

.button,
.post-meta {
	text-transform: capitalize;
}

.screen-reader-text {
	word-wrap: normal !important;
}

.post-content ul,
.list_unordered,
.list_bulleted {
	list-style: disc;
}

.post-content ul ul,
.list_unordered ul,
.list_bulleted ul {
	list-style: square;
}

.post-content ul ul ul,
.list_unordered ul ul,
.list_bulleted ul ul {
	list-style: circle;
}

.post-content ol,
.list_ordered,
.list_numbered {
	list-style: decimal;
}

.post-content ol ol,
.list_ordered ol,
.list_numbered ol {
	list-style: lower-alpha;
}

.post-content ol ol ol,
.list_ordered ol ol,
.list_numbered ol ol {
	list-style: lower-roman;
}

.post-header,
.post-footer,
.button:link,
.button:visited,
.button:hover,
.button:focus,
.button:active,
.breadcrumb [aria-current="page"] {
	color: #1a1a1a;
	color: rgb( 26, 26, 26 );
	color: hsl( 0, 0%, 10% );
}

.breadcrumb {
	border-top: 0.25rem solid #1a1a1a;
	border-top: 0.25rem solid rgb( 26, 26, 26 );
	border-top: 0.25rem solid hsl( 0, 0%, 10% );
}

.post-content,
.post-meta {
	color: #4d4d4d;
	color: rgb( 77, 77, 77 );
	color: hsl( 0, 0%, 30% );
}

.card:hover {
	box-shadow: 0 0 0.125rem 0.125rem #4d4d4d;
	box-shadow: 0 0 0.125rem 0.125rem rgb( 77, 77, 77 );
	box-shadow: 0 0 0.125rem 0.125rem hsl( 0, 0%, 30% );
}

/* This selector fails in some browsers; keep it isolated */
.card:focus-within {
	box-shadow: 0 0 0.125rem 0.125rem #4d4d4d;
	box-shadow: 0 0 0.125rem 0.125rem rgb( 77, 77, 77 );
	box-shadow: 0 0 0.125rem 0.125rem hsl( 0, 0%, 30% );
}

.button:hover,
.button:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

.card {
	border: 0.125rem solid #b3b3b3;
	border-color: rgb( 179, 179, 179 );
	border-color: hsl( 0, 0%, 70% );
}

.breadcrumb li + li::before {
	border-right: 0.125em solid #b3b3b3;
	border-right: 0.125em solid rgb( 179, 179, 179 );
	border-right: 0.125em solid hsl( 0, 0%, 70% );
}

.button {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 80% );
}

.button_cta:link,
.button_cta:visited,
.button_cta:hover,
.button_cta:focus {
	color: #fff;
	color: rgb( 255, 255, 255 );
	color: hsl( 0, 0%, 100% );
}

.button {
	background: #fff;
	background: rgb( 255, 255, 255 );
	background: hsl( 0, 0%, 100% );
}

.button_cta:link,
.button_cta:visited,
.hamburger {
	background: #1a1aff;
	background: rgb( 26, 26, 255 );
	background: hsl( 240, 100%, 55% );
}

.navigation button:hover .hamburger,
.navigation button:focus .hamburger,
.button_cta:hover,
.button_cta:focus {
	background: #7e00bd;
	background: rgb( 126, 0, 189 );
	background: hsl( 280, 100%, 37% );
}

.button_cta:active {
	background: red;
	background: #f00;
	background: rgb( 255, 0, 0 );
	background: hsl( 0, 100%, 50% );
}

.pagination a[aria-current="true"] {
	border: none;
}

.screen-reader-text {
	border: 0;
}

.pagination a {
	border: 0.0625rem solid;
}

/* This selector fails in some browsers; keep it isolated */
.card:focus-within a:focus {
	outline: none;
}

.js .navigation ul,
[aria-expanded="true"] .hamburger__2 {
	opacity: 0;
}

.js .navigation .is-active {
	opacity: 1;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		opacity: 1;
	}

}

.breadcrumb li + li::before {
	-webkit-transform: rotate( 15deg );
	transform: rotate( 15deg );
}

[aria-expanded="true"] .hamburger__1 {
	-webkit-transform: rotate(-45deg) translate( -0.25rem, 0.4375rem );
	transform: rotate(-45deg) translate( -0.25rem, 0.4375rem );
}

[aria-expanded="true"] .hamburger__2 {
	-webkit-transform: rotate(80deg);
	transform: rotate(180deg);
}

[aria-expanded="true"] .hamburger__3 {
	-webkit-transform: rotate(45deg) translate( -0.25rem, -0.4375rem );
	transform: rotate(45deg) translate( -0.25rem, -0.4375rem );
}

.button {
	transition: box-shadow 200ms ease;
}

.hamburger {
	transition: all 200ms;
}

.js .navigation ul {
	transition: all 500ms;
}

.hamburger__1,
.hamburger__3,
.breadcrumb li + li::before {
	content: '';
}

.post-meta li + li::before {
	content: '/ ';
}

.avatar {
	border-radius: 50%;
}

.button,
.hamburger {
	border-radius: 0.25em;
}

.card {
	border-radius: 1em;
}

.card img {
	border-top-left-radius: 0.875em;
}

.card img {
	border-top-right-radius: 0.875em;
}

.card__image img {
  object-fit: cover;
}

.post-meta ul,
.post-meta ol {
	display: inline;
}

.post-meta li,
.navigation button,
.button,
.breadcrumb li + li::before {
	display: inline-block;
}

.navigation li,
.navigation a,
.hamburger {
	display: block;
}

.post-content li,
.list_unordered li,
.list_bulleted li,
.list_ordered li,
.list_numbered li {
	display: list-item;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.navigation li {
		display: inline-block;
	}

}

[aria-expanded="true"] .hamburger__2 {
	width: 0;
}

.card__image img {
  width: 100%;
}

.hamburger {
	width: 1.5rem;
}

[aria-expanded="true"] .hamburger__1,
[aria-expanded="true"] .hamburger__3 {
	width: 1.85rem;
}

.screen-reader-text {
	width: 1px;
}

.avatar {
	max-width: 8rem;
}

.post {
	max-width: 36.4rem;
}

.card__image img {
  height: 100%;
}

.hamburger {
	height: 0.25rem;
}

.card__image {
  height: 10rem;
}

.breadcrumb li + li::before {
	height: 0.75em;
}

.screen-reader-text {
	height: 1px;
}

.js .navigation ul {
	max-height: 0;
}

.js .navigation .is-active {
	max-height: 100vh;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		max-height: none;
	}

}

.screen-reader-text {
	clip: rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
  padding: 0;
}

.avatar {
	clip-path: circle( 50% );
}

.navigation[aria-expanded="false"] {
  padding: 0;
}

.button {
	padding: 0.25rem;
}

.button_cta {
	padding: 0.5rem;
}

.container,
.card__text {
	padding: 1rem;
}

.navigation button {
	padding: 0.75rem 1rem;
}

.post-content ul,
.list_unordered,
.list_bulleted,
.post-content ol,
.list_ordered,
.list_numbered {
	padding: 0 0 0 2em;
}

.site-title,
.cards p {
  margin: 0;
}

.pagination ul {
	margin: 0 auto;
}

.pagination a {
	margin: 0 0.125rem;
}

.hamburger {
	margin: 0.25rem 0;
}

.breadcrumb li + li::before {
	margin: 0 0.25em;
}

.card {
	margin: 2rem 0.5rem;
}

.single .post-header__image,
.single .post-footer {
	margin: 4rem 0 0;
}

.single .post-header {
	margin: 0 0 4rem;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.card {
		margin: 1rem 0.5rem;
	}

}

.post-title {
	margin: 1em 0 0.5em;
}

.pagination {
	margin: 4em 0;
}

.screen-reader-text {
	margin: -1px;
}

.card__text > * {
	margin-top: 0;
}

.card__text :last-child {
  margin-top: auto;
}

.card__text > * + * {
  margin-top: 1rem;
}

.card__text :nth-last-child(2) {
  margin-bottom: 1rem;
}

.navigation button {
	position: absolute;
}

.screen-reader-text {
	position: absolute !important;
}

/* Top */

.navigation button {
	top: 0;
}

/* Right */

.navigation button {
	right: 0;
}

.screen-reader-text,
.js .navigation ul {
	overflow: hidden;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.js .navigation ul {
		overflow: auto;
	}

}

.card,
.card__text {
  display: flex;
  flex-direction: column;
}

.card__text {
  flex-grow: 1;
  order: 1;
}

.pagination ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pagination li {
	display: inline-flex;
}

@media screen and (min-width: 20.3125rem) { /* 20.3125rem / 325px */

	.pagination ul {
		flex-wrap: unset;
	}

}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	nav ul,
	nav ol {
		display: flex;
		justify-content: flex-start;
	}

}

/**
	* Grid
	*/

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 15rem, 1fr ) );
  grid-gap: 2rem;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	.cards {
	  grid-gap: 1rem;
	}

}

/* Supports Grid */

@supports (display: grid) {

	/* Margin */

	/* 0 */

  .card {
  	margin: 0;
  }

}

/**
	* Accessibility First Toggle Switch
	*
	* TODO: Decide if this is the appropriate approach
	* TODO: if (it's not) { replace this with a better approach }
	* TODO: else { continue }
	* TODO: Update styles to match look and feel of the rest of the site
	* TODO: Integrate and organize these styles in with the rest of the file
	*/

/* Default */

.toggle {
  margin: 0.25rem 0;
  display: inline-flex;
  align-items: center;
}

.toggle__switch {
  margin: 0 0.5rem 0 0;
  cursor: pointer;
  position: relative;
}

.toggle [type=checkbox] {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.toggle__switch::before,
.toggle__switch::after {
  background: #BDBDBD;
  content: '';
  transition: all 100ms cubic-bezier( 0.4, 0.0, 0.2, 1 );
  display: block;
}

.toggle__switch::before {
  opacity: 0.6;
  border-radius: 0.65em;
  width: 3em;
  height: 1.3em;
}

.toggle__switch::after {
  box-shadow: 0 0 8px rgba( 0, 0, 0, 0.2 ), 0 0 2px rgba( 0, 0, 0, 0.4 );
  border-radius: 50%;
  width: 1.7em;
  height: 1.7em;
  position: absolute;
  top: 50%;
  transform: translate( 0, -50% );
}

/* Focused */

[type=checkbox]:focus + .toggle__switch {
  outline: hsl( 240, 100%, 55% ) solid 1px; /* Blue */
  box-shadow: 0 0 0.5em hsl( 240, 100%, 55% ); /* Blue */
}

/* Disabled */

[type=checkbox]:disabled + .toggle__switch {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale( 100% );
}

[type=checkbox]:disabled + .toggle__switch::after {
  box-shadow: none;
}

/* Checked */

[type=checkbox]:checked + .toggle__switch::before,
[type=checkbox]:checked + .toggle__switch::after {
  background: hsl( 240, 100%, 55% ); /* Blue */
}

[type=checkbox]:checked + .toggle__switch::after {
  transform: translate( calc( 3em - 100% ), -50% );
}

/**
	* Under-Engineered Custom Radio Buttons and Checkboxen
	* http://adrianroselli.com/2017/05/under-engineered-custom-radio-buttons-and-checkboxen.html
	*
	* TODO: Decide if this is the appropriate approach
	* TODO: if (it's not) { replace this with [Accessibility First Radio Buttons](https://dev.to/link2twenty/accessibility-first-radio-buttons-2302) }
	* TODO: else { continue }
	* TODO: Update styles to match look and feel of the rest of the site
	* TODO: Integrate and organize these styles in with the rest of the file
	* 
	* ```html
	* <input type="radio" name="radio-button-1" id="radio-button-1" checked>
	* <label for="radio-button-1">Radio Button 1</label>
	* ```
	*
	* ```css
	* input[type=radio],
	* input[type=checkbox] {
	*   position: absolute;
	*   top: auto;
	*   overflow: hidden;
	*   clip: rect(1px 1px 1px 1px); // IE 6/7
	*   clip: rect(1px, 1px, 1px, 1px);
	*   width: 1px;
	*   height: 1px;
	*   white-space: nowrap; // https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
	* }
	* 
	* input[type=radio] + label:before,
	* input[type=checkbox] + label:before {
	*   content: '';
	*   background: #fff;
	*   border: .1em solid rgba(0, 0, 0, .75);
	*   background-color: rgba(255, 255, 255, .8);
	*   display: block;
	*   box-sizing: border-box;
	*   float: left;
	*   width: 1em;
	*   height: 1em;
	*   margin-left: -1.5em;
	*   margin-top: .15em;
	*   vertical-align: top;
	*   cursor: pointer;
	*   text-align: center;
	*   transition: all .1s ease-out;
	* }
	* 
	* input[type=radio] + label:before {
	*   border-radius: 100%;
	* }
	* 
	* input[type=radio]:checked + label:before {
	*   background-color: #00f;
	*   box-shadow: inset 0 0 0 .15em rgba(255, 255, 255, .95);
	* }
	* 
	* input[type=checkbox] + label:before {
	* 	// content: '\00d7';
	* 	// content: '\002718';
	* 	// content: '\002715';
	* 	// content: '\0025a0';
	*   content: '\002713';
	*   font-weight: bold;
	*   text-align: center;
	*   line-height: 1.15;
	*   color: rgba(0, 0, 255, 0);
	* }
	* 
	* input[type=checkbox]:checked + label:before {
	*   color: rgba(0, 0, 255, 1);
	*   line-height: .75;
	*   text-shadow: .05em 0 0 rgba(0, 0, 255, 1), -.05em 0 0 rgba(0, 0, 255, 1);
	* }
	* ```
	* 
	*/