---
layout: constrain-pad
---
<article>
  <header>
    <h2>{{ title }}</h2>
    {% if description %}
    <p>{{ description}}</p>
    {% endif %}
  </header>
  {% if content %}
  <div>
    {{ content }}
  </div>
  {% endif %}
</article>