@viewport {
	width: device-width;
}

:root {
	font-feature-settings: "kern", "liga", "clig", "calt", "onum", "pnum";
	font-size: calc( 1 * 100% ); /* 1 * 16px = 16px base rem unit */
	font-size-adjust: 0.516; /* Set x-height */
}

@supports (font-kerning: normal) and (font-variant-ligatures: common-ligatures contextual) and (font-variant-numeric: oldstyle-nums proportional-nums) {

	:root {
		font-kerning: normal;
		font-variant-ligatures: common-ligatures contextual;
		font-variant-numeric: oldstyle-nums proportional-nums;
		font-feature-settings: normal;
	}
	
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	:root {
		font-size: calc( 1.125 * 100% ); /* 1.125 * 16px = 18px base rem unit */
	}

}

@media screen and (min-width: 56.25rem) { /* Tablet Landscape / 56.25rem / 900px */

	:root {
		font-size: calc( 1.25 * 100% ); /* 1.25 * 16px = 20px base rem unit */
	}

}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	:root {
		font-size: calc( 1.375 * 100% ); /* 1.375 * 16px = 22px base rem unit */
	}

}

@media screen and (min-width: 112.5rem) { /* Big Desktop / 112.5rem / 1800px */

	:root {
		font-size: calc( 1.5 * 100% ); /* 1.5 * 16px = 24px base rem unit */
	}

}

html {
	box-sizing: border-box;
	line-height: 1;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: hsl( 0, 0%, 95% );
	color: hsl( 0, 0%, 10% );
	font-family: sans-serif;
	font-size: 1rem;
  line-height: 1.4;
  margin: 0;
	overflow-y: scroll;
}

p {
	hyphens: auto;
	hyphenate-limit-chars: 8 3 3;
	line-height: 1.4;
	margin: 0 0 0.7em;
}

a:link,
a:visited {
	color: hsl( 240, 100%, 50% );
}

a:hover,
a:focus {
	color: hsl( 280, 100%, 37% );
}

a:active {
	color: hsl( 0, 100%, 50% );
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.1;
	margin: 1em 0 0.5em;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.1;
	margin: 2em 0 0.5em;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 2em 0 0.6em;
}

h4 {
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.2;
	margin: 2em 0 0.6em;
}

h5 {
	font-size: 1rem;
	font-weight: bold;
  line-height: 1.4;
}

h6 {
	font-size: 1rem;
	font-weight: normal;
  line-height: 1.4;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	h1 {
		font-size: 3rem;
		font-weight: bold;
	}

	h2 {
		font-size: 2rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h4 {
		font-size: 1.25rem;
		font-weight: bold;
	}

}

ul,
ol {
  line-height: 1.4;
	list-style: none;
}

dl {
  line-height: 1.4;
}

nav ul,
nav ol {
	font-size: 0;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	nav ul,
	nav ol {
		display: flex;
		justify-content: flex-start;
	}

	nav button {
		display: none;
	}

}

nav li {
	font-size: 1rem;
}

nav a,
nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover,
nav a:focus {
	text-decoration: underline;
}

pre {
	font-family: monospace;
	font-size: 1rem;
  tab-size: 2;

	/* Browser specific (not valid) styles to make preformatted text wrap */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-break: break-word;      /* Internet Explorer 5.5+ */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	overflow-wrap: break-spaces; /* Internet Explorer 5.5+ */
	overflow-wrap: break-word;   /* Internet Explorer 5.5+ */
}

pre code {
	line-height: 1.2;
}

code,
kbd,
tt,
var {
	font-family: monospace;
	font-size: 0.85rem;
}

samp {
	font-family: monospace;
	font-size: 0.85rem;
	font-weight: bolder;
}

big {
	font-size: 112.5%;
}

@media screen and (min-width: 75rem) { /* Desktop / 75rem / 1200px */

	big {
		font-size: 1.25rem;
	}

}

small {
	font-size: 85%;
}

sup,
sub { 
	font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
	top: -0.5rem;
}

sub {
  bottom: -0.25em;
}

caption {
	line-height: 1.3;
	text-transform: capitalize;
}

table {
	background: hsl( 0, 0%, 100% );
	border-collapse: collapse;
	border-radius: 1em;
	border-spacing: 0;
	box-shadow: 0 0 0.25rem 0.25rem hsl( 0, 0%, 90% );
	color: hsl( 0, 0%, 30% );
	margin: 2em 0;
}

thead {
	background: hsl( 0, 0%, 10% );
	color: hsl( 0, 0%, 100% );
}

thead th:first-child,
thead td:first-child {
	border-top-left-radius: 1em;
}

thead th:last-child,
thead td:last-child {
	border-top-right-radius: 1em;
}

tfoot {
	background: hsl( 0, 0%, 80% );
}

tfoot th,
tfoot td {
	border-bottom: none;
}

tfoot th:first-child,
tfoot td:first-child {
	border-bottom-left-radius: 1em;
}

tfoot th:last-child,
tfoot td:last-child {
	border-bottom-right-radius: 1em;
}

th {
	font-weight: bold;
	line-height: 1.3;
	text-align: left;
}

td {
	line-height: 1.3;
}

dt {
	font-weight: bold;
}

strong,
b {
	font-weight: bolder;
}

em,
i {
	font-style: italic;
}

q {
	font-style: italic;
	quotes: "“" "”" "‘" "’";
}

q:before {
	content: open-quote;
}

q:after {
	content: close-quote;
}

abbr {
	font-feature-settings: "kern", "liga", "clig", "calt", "c2sc", "smcp";
	letter-spacing: 0.01em;
	text-decoration: underline;
	text-decoration: underline dotted;
}

@supports (font-variant-caps: all-small-caps) {

	abbr {
		font-variant-caps: all-small-caps;
		font-feature-settings: normal;
	}
	
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

acronym {
	text-decoration: underline dotted;
}

progress {
  vertical-align: baseline;
}

dl {
	color: hsl( 0, 0%, 30% );
}

kbd:hover,
kbd:focus {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 50% );
}

hr {
	background: hsl( 0, 0%, 70% );
}

details {
	border-color: hsl( 0, 0%, 70% );
}

kbd {
	box-shadow: 0 0.0625rem 0.0625rem 0.0625rem hsl( 0, 0%, 80% );
}

tr:nth-of-type(even) {
	background: hsl( 0, 0%, 95% );
}

details[open],
kbd,
code {
	background: hsl( 0, 0%, 100% );
}

a {
  background-color: transparent;
}

hr,
iframe {
	border: none;
}

img {
  border-style: none;
}

/* Isolate this selector */
:focus:not(:focus-visible) {
	outline: none;
}

summary {
	cursor: pointer;
}

a {
	transition: color 200ms ease;
}

kbd {
	transition: box-shadow 200ms ease;
}

kbd,
code,
details {
	border-radius: 0.25em;
}

[hidden],
template {
	display: none;
}

kbd,
nav li {
	display: inline-block;
}

details,
pre code {
	display: block;
}

summary {
	display: list-item;
}

img,
embed,
iframe,
object,
audio,
video {
  max-width: 100%;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
}

hr {
	height: 0.125rem;
}

ul,
ol {
  padding: 0;
}

kbd,
code {
	padding: 0 0.25rem;
}

nav a {
	padding: 0.5rem;
}

pre code,
details[open],
details:not([open]) summary {
	padding: 1rem;
}

th,
td {
	padding: 0.5em;
}

caption {
	padding: 1em;
}

dl {
	padding: 0 0 0 1em;
}

dd {
	padding: 0 0 0 2em;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	th,
	td {
		padding: 1em;
	}

}

ul ul,
ol ol,
dd,
pre code {
  margin: 0;
}

kbd,
code {
	margin: 0 0.125rem;
}

nav ul,
nav ol {
	margin: 0 -0.5rem;
}

hr {
	margin: 1rem 0;
}

h5,
h6,
ul,
ol,
dl,
article header p:only-of-type {
	margin: 0 0 0.7em;
}

dd + dt {
	margin: 1em 0 0;
}

details {
	margin: 2em 0;
}

article img + * {
	margin-top: 2rem;
}