* {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

html,
body {
  overflow-x: hidden;
}

p img {
  display: unset;
}

img {
  /* Set default aspect ratio based on `width` and `height` attributes */
  aspect-ratio: attr(width) / attr(height);
}

input,
textarea {
  letter-spacing: inherit;
  word-spacing: inherit;
}

@viewport {
  width: device-width;
}