h5,
h6,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
*::before,
*::after {
  border-color: currentColor;
  border-style: solid;
  border-width: 0;
}