a {
  background-color: transparent;
	transition: color 200ms ease;
}

a:link,
a:visited {
	color: $blue;
}

a:hover,
a:focus {
	color: $blue-alt;
}

a:active {
	color: $blue-alt-light;
}

:focus {
	outline: 0.125rem dashed $blue-alt-lighter;
}