---
layout: archive
---

			{% for article in collections.articles %}
			{% capture title %}{{ article.data.title }}{% endcapture %}
			{% capture excerpt %}{{ article.data.excerpt }}{% endcapture %}
			<li>
				<article class="post">
					<header class="post-header">
						<h2><a href="{{ article.url }}">{{ title }}</a></h2>
						<ul class="post-meta">
							<li><time>{{ page.date | timePosted }}</time></li>
							<li><span class="screen-reader-text">Topics: </span><ul>
								{% for topic in article.data.topics %}
								<li><a href="/topics/{{ topic | slug }}">{{ topic }}</a></li>
								{% endfor %}
							</ul></li>
						</ul><!-- .post-meta -->
					</header><!-- .post-header -->
					{% if excerpt %}
					<div class="post-content">
						{{ excerpt }}
					</div><!-- .post-content -->
					{% endif %}
				</article><!-- .post -->
			</li>
			{% endfor %}