{%- if slug == '.' %}{%- assign el = 'h1' %}
{%- else %}{%- assign el = 'p' %}{%- endif %}
<header role="banner" class="site-header">
  <{{ el }} class="site-title"><a class="site-title__link" href="/">{{ site.title }}</a></{{ el }}>
  <p class="site-description">{{ site.description }}</p>
</header>