/*

<select>
  <optgroup label="Swedish Cars">
    <option value="volvo">Volvo</option>
    <option value="saab" selected>Saab</option>
  </optgroup>
  <optgroup label="German Cars">
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </optgroup>
</select>

*/

select {
	border-radius: 0.25em;
	display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
  text-transform: none;
}

optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.4;
  margin: 0;
}