body {
	background: hsl( 0, 0%, 100% );
	color: hsl( 0, 0%, 5% );
	font-family: 'Gotham', sans-serif;
	font-size: 1rem;
  line-height: 1.4;
  margin: 0;
	overflow-y: auto;
}

* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}