table {
	border-collapse: collapse;
	border-spacing: 0;
	color: hsl( 0, 0%, 30% );
	margin: 2em 0;
  table-layout: fixed;
  width: 100%;
}

thead {
	background: hsl( 0, 0%, 10% );
	color: hsl( 0, 0%, 100% );
}

tfoot {
	background: hsl( 0, 0%, 80% );
}

tfoot th,
tfoot td {
	border-bottom: none;
}

tr:nth-of-type(even) {
	background: hsl( 0, 0%, 95% );
}

th {
	font-weight: bold;
	line-height: 1.3;
	padding: 0.5em;
	text-align: left;
}

td {
	line-height: 1.3;
	padding: 0.5em;
}

@media screen and (min-width: 37.5rem) { /* Tablet Portrait / 37.5rem / 600px */

	th,
	td {
		padding: 1em;
	}

}