$border-thickest: 1rem;
$border-thicker: 0.75rem;
$border-thick: 0.5rem;
$border-thick-medium: 0.375rem;
$border-medium: 0.25rem;
$border-thin-medium: 0.1875rem;
$border-thin: 0.125rem;
$border-thinner: 0.065rem;
$border-thinnest: 1px;